* {
  list-style: none;
}

.Chat {
  background-color: white;  
  height: 70vh;
  margin-top: -35px;
}

.chatTitle {
  color: black;
  text-align: center;
  padding-top: 20px;
}

.list {
  margin: 0;
  padding: 1rem;
}

.list__item {
  list-style: none;
}

.list__item.list__item--mine {
  text-align: right;
  list-style: none;

}

.message {
  border: 1px solid transparent;
  border-radius: 5px;
  display: inline-block;
  list-style: none;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

.message.message--mine {
  background: #b127bea6;
  border-color: black;
  text-align: right;
}

.message.message--other {
  background: rgba(255, 255, 0, 0.836);    
  border-color: black;
}

  